<nav class="space-x-3">
{% for link in collections.nav %}
  <a
    href="{{ link.url }}"
    class="text-sm font-semibold p-2 rounded-lg {{ 'bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-100' if link.url in page.url}}"
  >{{link.data.title}}</a>
{% endfor %}
</nav>