---
layout: base.njk
templateEngineOverride: md,njk
---

<h1>{{ title }}</h1>
<p>{{ description }}</p>
<time>{{ date.toDateString() }}</time>

<img src="{{ banner | url }}" alt="">
<p>{{ bannerCredit }}</p>
