---
title: Wiki
description: Wilson Parson's digital garden.
layout: base.njk
tags: nav
eleventyNavigation:
  key: Wiki
  parent: Home
---

{# {% for item in collections.all %}
<pre>{{item.url}}</pre>
{% endfor %} #}

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

<pre>
{% set navPages = collections.all | eleventyNavigation %}
{{ navPages | dump(2) | safe }}
</pre>