---
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';

export interface Props {
  title: string;
  description?: string;
};
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="text-gray-500 dark:bg-gray-800 dark:text-gray-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description ? <meta name="description" content={description} /> : null}
    <title>{ title } | Wilson Parson</title>
  </head>
  <body class="mx-auto p-4">
    <header class="flex items-center justify-between">
      <a href="/" class="w-16 md:width-20">
        <Logo />
      </a>
      <Nav />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
